body {
    font-family: Lato;
}

.parameters {
    display: grid;
    grid-template-columns: 40px 200px 40px;
}

.container {
    width: 80%;
}


.ba {
    border-style: solid;
    border-width: 1px;
}

.bw2 {
    border-width: .25rem;
}

.dib {
    display: inline-block;
}


.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.white {
    color: #fff;
}

.bg-dark-green {
    background-color: #137752;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}
